@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background-color: whitesmoke;
}

.main-nav {
  height: 4em;
  background-color: #070709;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10vh 0 10vh;
}

.nav-search-container {
  height: 50%;
  width: 20em;
  background-color: white;
  position: relative;
}

.nav-search {
  height: 100%;
  width: 100%;
  font-size: 1.17em;
}

.nav-links * {
  margin: 0 0 0 1em;
}

.main-nav .links .main-nav-links {
  color: white;
}

.main-nav .links .link {
  color: white;
}

.links .main-nav-links {
  text-decoration: none;
}

.links .section-nav-links {
  text-decoration: none;
}

.links .link {
  text-decoration: none;
}

.section-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 0.01em solid #ccc;
  overflow-x: scroll;
}

.section-nav .section-nav-links {
  padding: 0.4em 0;
  margin: 0 1em;
  color: black;
}

button:focus {
  outline: none;
}

.section-nav .section-nav-links:hover {
  box-shadow: 0 1px 0 #000;
}

.nav-selected {
  box-shadow: 0 1px 0 #000;
}

.container {
  margin: 0 7vw 0 7vw;
}

main {
  display: flex;
}

.filter-container {
  background-color: red;
}

.cards-container {
  display: flex;
  justify-content: center;
  align-content: stretch;
  flex-wrap: wrap;
  margin-top: 2vh;
  width: 100%;
}

.card {
  width:25%;
  /* border-radius: 0.5em; */
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 2em;
  margin-right: 2em;
  overflow: hidden;
}

.card-image {
  width: 100%;
}

.card-image img {
  width: 100%;
  /* border-radius: 0.5em 0.5em 0 0; */
}

.card-content {
  padding: 1.2em;
}

.card-header-content {
  flex: 6;
}

.save {
  flex: 1;
}

.card-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* align-items: center; */
}

.card-body {
  line-height: 1.2em;
}

.save-icon {
  width: 1.2em;
}

p {
  margin: 0;
}

h2 {
  margin-top: 0;
}

.card-header-content h2 {
  color: black;
}

.card-header-content h2:hover {
  text-decoration: underline;
}

button {
  cursor: pointer;
}

.login-register {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-content: center;
}

.form-card {
  margin: 4vh 0 0 0;
  padding: 2em;
  width: 35%;
}

.form-label {
  font-weight: bold;
  display: block;
}

.form-submit {
  color: white;
  background-color: black;
  display: block;
  padding: 0.75em;
  border-width: 0;
}

.form-card * {
  margin: 0.5em 0;
}

.form-card h1 {
  margin-top: 0;
}

.form-input {
  padding: 0.5em;
  width: 100%;
  border-style: none;
  box-shadow: inset 0 1.5px 5px 0 rgba(0, 0, 0, 0.2);
}

.show-filter-search .form-input {
  box-shadow: inset 0 1.5px 5px 0 rgba(0, 0, 0, 0.2);
}

.filter-search-container {
  border-bottom: 0.01em solid #ccc;
}

.filter-arrow {
  width: 1em;
  vertical-align: bottom;
}

.show-filter {
  vertical-align: middle;
  color: black;
  flex: 1;
}

.show-filter-search {
  display: flex;
  justify-content: center;
}

.show-filter-search > *,
.filter-section > * {
  margin: 0.75em 3em;
}

.search {
  flex: 4;
}

.filter-section {
  display: flex;
  flex-direction: row;
}

.filter-submit {
  color: white;
  background-color: black;
  padding: 0 0.3em;
}

@media (max-width: 800px) {
  .card {
    width: 40%;
  }
}

@media (max-width: 700px) {
  .section-nav {
    justify-content: start;
  }
}

@media (max-width: 600px) {
  .card {
    width: 100%;
    margin-right: 0;
  }
  .form-card {
    width: 80%;
    margin: 2em;
  }
}

@media (max-width: 400px) {
  .form-card {
    width: 70%;
  }
}